[Desktop Entry]
Type=Application
Exec=gnome-terminal -- /path/to/script
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=AutoUpdate Discord
